*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}


/* sfondo */

header{
    height: 100px;
    width:100%;
    background-color: #009688;
}

main{
    width:100%;
    background-color: #d8dbd5;
    position: relative;
}

/* finestra app */

#app{
    width: 80%;
    height:500px;
    position:absolute;
    top:-60px;
    left:10%;
    border: 1px solid #000;
    z-index:2;
    background-color:#fff;
    display: flex;
}

/* sezione contatti */
.utenti{
    height:100%;
    width:40%;
    background-color:orange;
}
.topbar{
    width:100%;
    height:10%;
    background-color: #eaeaea;
}
.cerca_contatti{
    width:100%;
    height:30px;
    background-color: #fafafa;
}
.contatti{
    width:100%;
    height: 420px;
    background-color:#fff;
    overflow: scroll;
    overflow-x:hidden;
}

.contatti_box{
    width:80%;
    list-style: none;
    margin: 10px auto;
    display:flex;
    border: 1px solid #000;
}

.avatar{
    width:50px;
    height:50px;
    border-radius: 50%;
    margin: 0 10px;
}

.user_name{
    margin: 0 10px;
}

/* sezione chat */

.messaggi{
    height:100%;
    width:60%;
    background-color: aquamarine;
    overflow: scroll;
}

#chat{
    width:100%;
    background-image: url(../img/mine.jpg);
    height:85%;
    padding:10px 45px;
    display:flex;
    flex-direction: column;
    overflow: scroll;
}
.new_message{
    width:100%;
    height:5%;
    background-color: #f3eeea;
}

.chat_box{
    display:none;
}

.visible{
    display:block;
    list-style: none;
}

.sent{
    align-self: flex-end;
    padding: 2px 3px;
    border-radius: 10px;
    background-color: #a7dfd7;
    width: 50px;
    height:auto;
}

.received{
    align-self: flex-start;
    padding: 2px 3px;
    border-radius: 10px;
    background-color: white;
    width: 50px;
    height:auto;
}