<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5dc396147b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzap</title>
</head>
<body>
    
    <header></header>
    <main>
        <div id="app">
            <section class="utenti">
                <div class="topbar"></div>
                <div class="cerca_contatti"></div>
                <ul class="contatti">
                    <li v-for="(contact, index) in contacts" class="contatti_box" @click="activateChat(index)">
                        <img :src="contact.avatar" alt="contact.name" class="avatar">
                        <div class="user_name">
                            <h3>{{contact.name}}</h3>
                            <sub></sub>
                        </div>
                        
                    </li>
                </ul>
            </section>

            <section class="messaggi">
                <div class="chat" v-for="(contact, index) in contacts" :class="activeContact === index ? 'active' : ''">
                    <div class="topbar">
                        <ul class="icona_utenti">
                            <li class="contatti_box">
                                <img :src="contact.avatar" alt="contact.name" class="avatar">
                                <div class="user_name">
                                    <h3>{{contact.name}}</h3>
                                    <sub></sub>
                                </div>
                                
                            </li>
                        </ul>
                    </div>
                    <div class="message_space">
                        <div v-for="text in contact.messages" :class="text.status === 'sent' ? 'sent' : 'received'">{{text.message}}<i class="fa-solid fa-angle-down"></i></div>
                    </div>
                    <div class="new_message">
                        <input v-model="text" placeholder="Scrivi un messaggio" @KeyUp.enter="addingMessage(contact.messages)">
                    </div> 
                </div>
                
            </section>

        </div>
    </main>





    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="js/functions.js"></script>
    <script src="js/script.js"></script>
</body>
</html>