<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzap</title>
</head>
<body>
    
    <header></header>
    <main>
        <div id="app">
            <section class="utenti">
                <div class="topbar"></div>
                <div class="cerca_contatti"></div>
                <ul class="contatti">
                    <li v-for="contact in contacts" class="contatti_box">
                        <img :src="contact.avatar" alt="contact.name" class="avatar">
                        <div class="user_name">
                            <h3>{{contact.name}}</h3>
                            <div></div>
                        </div>
                        
                    </li>
                </ul>
            </section>

            <section class="messaggi">
                <div class="topbar"></div>
                <ul class="chat">
                    <li v-for=""></li>
                </ul>
                <div class="new_message"></div> 
            </section>

        </div>
    </main>





    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="js/functions.js"></script>
    <script src="js/script.js"></script>
</body>
</html>