<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5dc396147b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzap</title>
</head>
<body>
    
    <header></header>
    <main>
        <div id="app">
            <section class="utenti">
                <div class="topbar">
                    <div class="contatti_box top">
                        <img src="img/avatar_io.jpg" alt="utente" class="avatar">
                        <div class="user_name">
                            <h3>Sofia</h3>
                        </div>
                        <div class="icons">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </div>
                <div class="notifiche">
                    <h3 id="notifiche_alert">
                        <i class="fa-solid fa-bell-slash"></i>
                        Ricevi notifiche di nuovi messaggi
                    </h3>
                    <a href="#" id="link_null">Attiva notifiche desktop</a>
                </div>
                <div class="cerca_contatti">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input id="contatti_lettera" v-model="user_letter" placeholder="Cerca o inizia una nuova chat" @keyup="trovaUtenti()">
                </div>
                <ul class="contatti">
                    <li v-for="(contact, index) in contacts" class="contatti_box" :class="contact.visible ? '' : 'inactive'" @click="activateChat(index)">
                        <img :src="contact.avatar" alt="contact.name" class="avatar">
                        <div class="user_name">
                            <h3>{{contact.name}}</h3>
                            <div>Ultimo accesso: {{contact.messages[contact.messages.length -1].date}}</div>
                        </div>
                        
                    </li>
                </ul>
            </section>

            <section class="messaggi">
                <div class="chat" v-for="(contact, index) in contacts" :class="activeContact === index ? 'active' : ''">
                    <div class="topbar">
                        <ul class="icona_utenti">
                            <li class="contatti_box top">
                                <img :src="contact.avatar" alt="contact.name" class="avatar">
                                <div class="user_name">
                                    <h3>{{contact.name}}</h3>
                                    <div>{{contact.messages[contact.messages.length -1].date}}</div>
                                </div>
                                <div class="icons">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <i class="fa-solid fa-paperclip"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                                
                            </li>
                        </ul>
                    </div>
                    <div v-for="(text, position) in contact.messages" class="message_space">
                        <div :class="text.status === 'sent' ? 'sent' : 'received'">
                            {{text.message}}
                            <i class="fa-solid fa-angle-down" @click="messageOptions(position)"></i>
                            <div class="box" :class="dropdown === position ? 'visible' : ''">
                                <div>Message info</div>
                                <div @click="deleteMess(position, contact.messages)">Delete message</div>
                            </div>
                        </div>
                    </div>
                    <div class="new_message">
                        <i class="fa-regular fa-face-smile"></i>
                        <input id="messaggio_nuovo" v-model="text" placeholder="Scrivi un messaggio" @KeyUp.enter="addingMessage(contact.messages)">
                        <i class="fa-solid fa-microphone"></i>
                    </div> 
                </div>
                
            </section>

        </div>
    </main>





    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="js/functions.js"></script>
    <script src="js/script.js"></script>
</body>
</html>